html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.trike {
  position: relative;
  height: 70%;
  width: 100%; }
  .trike div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: pink; }
