$var: #48beef  //#c397d8
$dollar: #f92659
$colon: #F86F11
$paren: #e6db74
$bg1: #272822   // #282A2E
$nameplatebg: #517991
$header: rgba(255, 255, 255, 0.7)
$window: rgba(255,255,255,.7)
$buttonbg: rgba(255,255,255,.7)
@import 'head'
@import 'nameplate'

///// section /////
///// section /////
///// section /////
	
section
	position: relative
	margin: 20px
	padding: 20px 45px
.posttitle, .endpost
	font-family: DejaVuSansMonoBook, monospace
.post span
	color: $var
.art:before
	content: "$"
	color: $dollar
.art span
	color: $var
	font-style: italic
	
// windows //
// windows //
// windows //
.window
	margin: 20px 20px 20px 276px

	background-color: $window
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 5px 1px
	.windowhead
		background-color: #e1e1e1
		border-radius: 4px 4px 0 0
		background-image: linear-gradient(#fafafa, #e1e1e1)
		padding: 5px
		line-height: 0px
		padding-left: 15px
		height: 12p
.browser-button
	-webkit-background-clip: border-box
	-webkit-background-origin: padding-box
	-webkit-background-size: auto
	-webkit-font-smoothing: antialiased
	background-attachment: scroll
	background-clip: border-box
	background-color: rgba(0, 0, 0, 0.098)
	background-image: none
	background-origin: padding-box
	background-size: auto
	border-bottom-left-radius: 12px
	border-bottom-right-radius: 12px
	border-top-left-radius: 12px
	border-top-right-radius: 12px
	color: rgb(68, 68, 68)
	display: inline-block
	font-family: chaparral-pro, brandon-grotesque, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif
	font-size: 16px
	height: 12px
	line-height: 0px
	margin-right: 5px
	width: 12px