@import 'assets/bourbon/bourbon'
$vvar: #48beef
$dollar: #f92659
$colon: #F86F11
$paren: #e6db74
$bg1: #272822   // #282A2E
$nameplatebg: #517991
$header: rgba(255, 255, 255, 0.8)
$window: rgba(255,255,255,.9)
$buttonbg: rgba(255,255,255,.7)
$highlight: rgba(43,75,111,.25)

.window
	margin: 5px 5px 5px 267px  // later use this in an import
@import 'head'
@import 'nameplate'

///// section /////
///// section /////
///// section /////
	
section
	position: relative
	//margin: 5px
	//padding: 5px
	height: auto
	bottom: 100%
	h1
		padding: 5px
		background-color: $highlight
		font-size: 16px

.posttitle, .endpost
	font-family: DejaVuSansMonoBook, monospace
.post span
	color: $vvar
.art:before
	content: "$"
	color: $dollar
.art span
	color: $vvar
	font-style: italic
	
// windows //
// windows //
// windows //
.window
	//margin: 5px 5px 5px 267px
	padding: 0px
	display: block
	background-color: $window
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px 2px
	position: absolute
	border-radius: 5px 5px 5px 5px
	.windowhead
		background-color: #e1e1e1
		border-radius: 5px 5px 0 0
		background-image: linear-gradient(#fafafa, #e1e1e1)
		padding: 5px
		line-height: 0px
		padding-left: 15px
		height: 12px
	p 
		padding: 0px 10px
		text-indent: 20px
.browser-button
	display: inline-block
	margin-right: 5px
	img
		+size(12px)